@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 30px 80px;
  background-color: #262322;
  color: white;
}

h1 {
  color: #FF0035;
}

h2 {
  color: #0091AD;
}

nav {
  float: right;
  margin: 20px 25px;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  background-color: lime;
  border-radius: 5px;
}

nav a:visited {
  color: black;
}

nav a:hover {
  background-color: rgb(6, 190, 6);
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

main {
  clear: both;
}

table,
th,
tr,
td {
  border: 2px dotted #FF0035;
  border-collapse: collapse;
  padding: 5px;
}

table {
  width: 70%;
  margin: 50px 0;
}

th {
  background-color: rgba(0, 0, 0, 0.4);
  text-align: left;
}

a {
  color: #0091AD;
}
a:hover {
  color: rgb(0, 190, 0);
}

button {
  background-color: lime;
  color: black;
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
}

button:hover {
  background-color: rgb(0, 190, 0);
}

img.right {
  float: right;
  clear: both;
  margin: 20px 0 20px 20px;
}

.active {
  background-color: rgb(0, 152, 0);
}

.page-title {
  float: left;
}

.content {
  background-color: #262322;
  margin: 25px 25px;
  padding: 5px;
}

.padding {
  background-color: #0091AD;
  margin: 25px 25px;
  padding: 5px;
}

.border {
  background-color: #FF0035;
  color: white;
  margin: 25px 25px;
  padding: 5px;
}

.margin {
  background-color: lime;
  color: black;
  padding: 5px;
  width: 25vw;
}